<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <h1>Base Html</h1>

    {% block content %}

        <h1>
            hi dear
        </h1>
    {% endblock %}
</body>

</html>