{% extends 'base.html' %}

{% block title %}Home Page {% endblock %}

{% block content %}
 {{ super() }}

<h1>This is home. Why are you here {{ name }}</h1>

<h1>Database Results</h1>
{% for items in results %}

<h2>ID : {{items.id}} Name : {{items.name}} Location : {{items.location}}</h2>
{% endfor %}

{% if d== 0 %}
    <h2>Zero</h2>
{% elif d== 1 %}
    <h2>one</h2>
{% else %}

    <h2>others</h2>
{% endif %}

{% for x,a in c.items() %}
    {{ x,a }}
{% endfor %}

<img src=" {{ url_for('static',filename='test.JPG') }}">

{% include 'included.html' %}
{% endblock %}

