<form action = "/theform" method = "POST">
               Name: <input type = "text" name="name">
               Location : <input type = "text" name = "location">
                <input type = "submit" value = "Submit">
</form>