<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Food Tracker | Home</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='theme.css') }}" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Food Tracker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Add Food Item</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container theme-showcase col-sm-6 col-sm-offset-3" role="main">

      <div class="row">
        <div>
          <form method="POST" action="/">
            <div class="form-group">
              <label for="new-day">New Day</label>
              <input type="date" class="form-control" id="new-day" name="date">
            </div>

            <button type="submit" class="btn btn-primary">Add</button>
          </form>

          <div class="page-header"></div>

          {% for r in results %}
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">{{ r.entry_date }}</h3>
            </div>
            <div class="panel-body">
              <ul class="nav nav-pills" role="tablist">
                <li><a>Protein: <span class="badge">100</span></a></li>
                <li><a>Carbohydates: <span class="badge">200</span></a></li>
                <li><a>Fat: <span class="badge">50</span></a></li>
                <li><a>Calories: <span class="badge">1650</span></a></li>
                <li><a href="#" type="button" class="btn btn-link">View Detail</a></li>
              </ul>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

    </div>

  </body>

</html>